@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

.content {
    background-color: #EEEEEE;
    width: 414px;
    margin: 0 auto;
}

.top-bar {
    width: inherit;
    height: 92px;
    padding: 20px;
    background-color: #CF2B2B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    margin: 0 auto;
    z-index: 1;
}

h1 {
    font-family: 'Righteous', cursive;
    color: white;
    font-size: 44px;
    font-weight: 400;
}

h2 {
    font-family: 'Righteous', cursive;
    color: #333333;
    font-weight: 400;
    font-size: 26px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.food {
    display: flex;
    flex-direction: column;
    margin-top: 92px;
    padding: 20px 0 92px;
}

.food img {
    border-radius: 4px;
    height: 87px;
    width: 144px;
    object-fit: cover;
}

.food-choice {
    display: flex;
    overflow-x: scroll;
}

.food h2 {
    margin-left: 15px;
}

.food-item {
    width: 172px;
    height: 216px;
    margin: 20px 0px 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    background-color: white;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}

.selected{
    border: 5px solid #32B72F;
}

.item-name {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333333;
}

.food p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #a6a6a6;
}

.item-bottom {
    display: flex;
    justify-content: space-between;
}

.price {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 400;
}

.checkmark {
    font-size: 16px;
    color: #32B72F;
}

.hidden {
    display: none;
}

.bottom-bar {
    width: inherit;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: fixed;
    bottom: 0;
}
.botao-fim {
    display: inline-block;
    width: 364px;
    height: 61px;
    background-color: #CBCBCB;
    border: 0;
    border-radius: 50px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 0;
    margin: 0 auto;
}

.fechar-pedido {
    background-color: #32B72F;
}
    